<li><a href="~/AccountModels/"><i class="fa fa-database"></i> DataBase Acces</a></li>

<div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="fa fa-database"></i>DataBase Access
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="#">Accounts</a>
        <a class="dropdown-item" href="#">Products</a>
        <a class="dropdown-item" href="#">Something else here</a>
    </div>
</div>
 